---
layout: base.njk
---
<h1>{{ title }}</h1>
{{ content | safe }}
<ul class="teaser-list">
{%- for item in collections.all -%}
  {%- if item.url != page.url and item.url.startsWith('/lektorat/') %}
  <li>
    <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    {% if item.data.teaser %}<p>{{ item.data.teaser }}</p>{% endif %}
  </li>
  {%- endif -%}
{%- endfor %}
</ul>
